.admin {
    padding: 60px;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;
    background: rgb(37, 37, 37);
    background: linear-gradient(90deg, rgba(37, 37, 37, 1) 0%, rgba(105, 105, 88, 1) 25%, rgba(71, 77, 72, 1) 92%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 3px solid white;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: contain;
    }

    h4{
        margin: 20px 0 10px;
    }
}

.admin__wrapper {
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.admin-data {
    padding-top: 30px;

    strong {
        font-size: 26px;
    }

    span {
        font-size: 24px;
    }
}