.Hero {
  padding: 60px 30px;
  display: flex;
  justify-content: center;
margin: auto;
  &__button {
    display: flex;
    gap: 70px;
    #btn {
      width: 200px;
      height: 50px;
      cursor: pointer;
      border-radius: 40px;
      color: aliceblue;
      background-color: transparent;
      font-size: 20px;
      border: none;
      background-color: rgb(37, 40, 216);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      box-shadow: rgba(244, 250, 63, 0.16) 0px 3px 6px,
        rgba(255, 245, 245, 0.23) 0px 3px 6px;
    }
    #btn:hover {
      box-shadow: rgba(237, 255, 98, 0.19) 0px 10px 20px,
        rgba(239, 255, 116, 0.23) 0px 6px 6px;
    }
  }
}



.section{
   
    width: 90%;
   margin: auto;
   margin-top: 30px;
   color: white;
   &__button{
    padding: 40px 40px;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 70px;
&__button{
  display: flex;
  flex-wrap: wrap;
}
button{
    width: 140px;
    height: 30px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
button:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}
   }

  .header_class{
  
    &_label{
       
        border-radius: 7px;
        background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    #opti{
        
        border-radius: 7px;
background-color: black; 
   color: white;
    border: 1px solid white;
    font-size: 20px;
    }
    }
  }
}