.section1{
    padding: 40px 70px;
    text-align: start;
    h1{
        font-size: 70px;
    }
}
.section__button{
 div{
    width: 180px;
    height: 40px;
 button{
    width: 180px;
    min-height: 40px;
        border: 2px solid rgb(0, 21, 255);
border-radius: 10px;
background-color: transparent;
 } 
 button:hover{
    background-color: rgb(0, 21, 255);
    color: white;
 }}
 

}