.main {
    width: 100%;
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 300px;
    background: rgb(37, 37, 37);
    background: linear-gradient(90deg, rgba(37, 37, 37, 1) 0%, rgba(105, 105, 88, 1) 25%, rgba(71, 77, 72, 1) 92%);
    transition: all 0.5s ease-in-out;
    

    .logo-div {
        width: 100%;
        padding: 5px 0 20px;
        border-bottom: 1px solid #252525b3;

        .admin-logo {
            width: 180px;
            padding-left: 40px;
        }
    }

    .admin-items {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 25px;

            li {
                border-radius: 30px;
                font-size: 27px;
                padding: 15px 0 15px 13px;
                display: flex;
                align-items: center;
                color: white;
                gap: 10px;
                font-weight: bold;

                &:hover {
                    background-color: #252525b3;
                    transition: 0.6s;
                }


                a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                }
            }
        }
    }

    .icon-only {
        align-items: center;
        padding: 20px;
        gap: 10px;
        color: white;
    }
}

.content {
    width: calc(100% - 300px);
    transition: all 0.5s ease-in-out;
}

header {
    background: rgb(37, 37, 37);
    background: linear-gradient(90deg, rgba(37, 37, 37, 1) 0%, rgba(105, 105, 88, 1) 25%, rgba(71, 77, 72, 1) 92%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px;
}

header .toggle-btn {
    width: 30px;
    height: 20px;
    color: white;
}

.header-logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

.main.close .sidebar {
    width: 75px;

    .logo-div {
        display: none;
    }

    .container .admin-items ul li:hover {
        background-color: transparent;
    }
}

.main.close .content {
    width: 100%;
}


.adminimg {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    .admin-logo-img {
        width: 60px;
        height: 60px;
    }
}

#menu {
    color: purple;
}
    


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-img {
    background-color: green;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.admin-github {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.admin-header-links {
    display: flex;
    align-items: center;
    gap: 10px;
}