.section1 {
  width: 100%;
  img {
    width: 100%;
    height: 400px;
  }
}
h1 {
  margin-top: 40px;
}
.buttons {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
  button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 40px;
    color: aliceblue;
    background-color: transparent;
    font-size: 20px;
    border: none;
    background-color: rgb(37, 40, 216);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(244, 250, 63, 0.16) 0px 3px 6px,
      rgba(255, 245, 245, 0.23) 0px 3px 6px;
  }
  button:hover {
    background-color: red;
  }
}
.section2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  &__left {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  &__right {
    .dayline-bar {
      float: right;
      width: 961px;
      height: 17px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("https://parkcinema.az/addons/shared_addons/themes/new/img/dayline.png");
      margin-top: 19px;

      &__hours {
        height: 20px;
        margin-top: 26px;
        display: flex;
        gap: 23px;
        font-size: 14px;
      }
    }
  }
}

.data-table {
  margin-top: 24px;
  position: relative;
  padding: 10px 0 0 0;
  overflow: auto;
  .hour-line {
    position: absolute;
    top: -10%;
    left: 203px;
    height: 110%;
    width: 1px;
    background: #adb0a9;
    z-index: 10;
  }
  .dt-row {
    width: 100%;
    background: #262626;
    height: 59px;
    margin-bottom: 2px;
    .dtr-left {
      float: left;
      width: 204px;
      line-height: 15px;
      padding-left: 35px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .dtr-right {
      float: right;
      height: 59px;
      width: 961px;
      line-height: 59px;

      .hours {
        height: 20px;
        position: relative;
        color: white;
        .date-table .hours .visible-hour:nth-child(2n + 1) {
          top: 8px;
        }
        .az-version .date-table .hours .visible-hour {
          font-family: helveticaAZ;
        }
        .date-table .hours .visible-hour {
          opacity: 1;
        }
        .date-table .hours .t14-5 {
          left: 255px;
        }
        .date-table .hours .visible-hour {
          visibility: visible;
        }
        .date-table .hours .visible-hour {
          position: absolute;
          float: left;
          font-family: HelveticaRegular;
          font-size: 11px;
          height: 19px;
          border-radius: 7px;
          color: white;
          text-align: center;
          line-height: 19px;
          padding: 0 5px;
          margin: 0;
          margin-top: 20px;
          cursor: pointer;
        }
        .visible-hour.vip-session {
          color: #ffe100 !important;
        }
        .d {
          background-image: url("https://parkcinema.az/addons/shared_addons/themes/new/img/VIP.png");
        }
      }
    }
  }
}
.dt-row:nth-child(even) {
  background: #212121;
}

