button .act-icon-delete {
    font-size: 30px;
    color: red;
}

button .act-icon-edit {
    font-size: 29px;
    color: orange;
}

button .act-icon-detail {
    font-size: 30px;
    color: aliceblue;
}

tr td {
    font-size: 17px;
}

tr th {
    font-size: 19px;
}