.commonss {
    padding: 50px;
   
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 90px;
  .cardd {
    width: 600px;
    height: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    &__left {
      img {
        width: 130px;
        height: 200px;
      }

    }
    &__right{
        width: 400px;
        height: 200px;
        text-align: start;
       
    }
  }
}
