:root {
  --primary_color: #ffffff;
  --breakpoint: 768px;
  --delay: all .2s ease-in-out;
}

* {
  list-style-type: none;
  text-decoration: none;
  margin: auto;
  padding: 0;
  max-width: var(--breakpoint);
}

nav {
  background-color: #7B1FA2;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

nav .navbar_logo img {
  height: 60px;
  width: 80px;
}

nav .mobile_nav {
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  top: -50%;
  background-color: #7B1FA2;
  transition: all .75s ease-in-out;
  z-index: -1;
}

.show {
 top: 15%;
}

nav ul li a  {
  color: var(--primary_color);
  border-bottom: 1px solid transparent;    
  transition: all .5s ease-in;
  padding-bottom: .15rem;
}

nav ul li a:hover  {
  border-color: var(--primary_color);
}


button[type="button"] {
  padding: .5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.close  {
  opacity: 0;
  transition: var(--delay);
  transform: rotateY(360deg);
  position: absolute;
  right: 0.5;
}

.menu {
  opacity: 1;
  transition: var(--delay);
  position: absolute;
  margin-top: -1.25rem;
}