*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.slide {
  padding: 30px 30px;

  height: 700px;


  background-color: black;
  display: flex;
  flex-direction: column;
  h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .text {
    width: 70%;
    height: 600px;
    color: white;
    text-align: center;
    position: relative;
    cursor: pointer;
    #shop {
      cursor: pointer;
    }
    #shop:hover {
      color: red;
    }
    #star {
      color: rgb(255, 255, 33);
      cursor: pointer;
    }
    .div__icon {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__img1 {
      width: 90%;
      height: 400px;
      background-image: url(theavengers_lob_crd_03.jpg);
      background-size: cover;
      cursor: pointer;
      color: white;
    transition: .5s ease;
    
    }

    .texts{
      font-size: 1.2rem;
      position: absolute;
      top: 0;
      left: 0;
      background-color: crimson;
width: 90%;
height:400px ;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 70px;
opacity: .8;
visibility: hidden;
button{
  width: 200px;
  height: 50px;
  background: blue;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  
}
button:hover{
  background: rgb(6, 6, 100);
}
    }
    &__img2 {
      width: 90%;
      height: 400px;
      background-image: url(barbie_2023_film_poster.jpg);
      background-size: cover;
      cursor: pointer;
    }
    &__img3 {
      width: 90%;
      height: 400px;
      background-image: url(STL224585.jpg);
      background-size: cover;
      cursor: pointer;
    }
    &__img4 {
      width: 90%;
      height: 400px;
      background-image: url(spider-man-no-way-home-multiverse-poster.jpg);
      background-size: cover;
      cursor: pointer;
    }
    &__img5 {
      width: 90%;
      height: 400px;
      background-image: url(Joker_Digital.jpg);
      background-size: cover;
      cursor: pointer;
    }
    &__img6 {
      width: 90%;
      height: 400px;
      background-image: url(ataturk.jpg);
      background-size: contain;
      cursor: pointer;
    }
  }

  .text:hover{
    .texts{
          visibility: visible;

    }
  }

}

@media only screen and (max-width:1440px) {
  .slide{
    display: block;
    height: 650px;
    .text{
      display: block;
      width: 60%;
      height: 400px;
      font-size: 17px;
    }
  }
}
@media only screen and (max-width:1430px) {
  .slide{
    display: block;
    height: 660px;
    .text{
      display: block;
      width: 50%;
      height: 400px;
      text-align: center;
      font-size: 14px;
      &__img1{
        display: block;
        width: 250px;
        height: 400px;
      }
      &__img2{
        display: block;
        width: 250px;
        height: 400px;
      }
      &__img3{
        display: block;
        width: 250px;
        height: 400px;
      }
      &__img4{
        display: block;
        width: 250px;
        height: 400px;
      }
      &__img5{
        display: block;
        width: 250px;
        height: 400px;
      }
      &__img6{
        display: block;
        width: 250px;
        height: 400px;
      }
    }
  }
}
@media only screen and (max-width:1414px) {
  .slide{
    display: block;
    height: 600px;
    .text{
      display: block;
      width: 300px;
      height: 350px;
      text-align: center;
      font-size: 12px;
      &__img1{
        display: block;
        width: 250px;
        height: 350px;
      }
      &__img2{
        display: block;
        width: 250px;
        height: 350px;
      }
      &__img3{
        display: block;
        width: 250px;
        height: 350px;
      }
      &__img4{
        display: block;
        width: 250px;
        height: 350px;
      }
      &__img5{
        display: block;
        width: 250px;
        height: 350px;
      }
      &__img6{
        display: block;
        width: 250px;
        height: 350px;
      }
    }
  }
}

@media only screen and (max-width:1396px) {
  .slide{
    display: block;
    height: 500px;
    .text{
      display: block;
      width: 270px;
      height: 300px;
      text-align: center;
    font-size: 10px;
      &__img1{
        display: block;
        width: 220px;
        height: 280px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 220px;
        height: 280px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 220px;
        height: 280px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 220px;
        height: 280px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 220px;
        height: 280px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 220px;
        height: 280px;
        background-size: cover;
      }
    }
  }
}

@media only screen and (max-width:1350px) {
  .slide{
    display: block;
    height: 500px;
    .text{
      display: block;
      width: 250px;
      height: 290px;
      text-align: center;
    font-size: 9px;
      &__img1{
        display: block;
        width: 200px;
        height: 260px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 200px;
        height: 260px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 200px;
        height: 260px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 200px;
        height: 260px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 200px;
        height: 260px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 200px;
        height: 260px;
        background-size: cover;
      }
    }
  }
}


@media only screen and (max-width:1131px) {
  .slide{
    display: block;
    height: 480px;
    .text{
      display: block;
      width: 230px;
      height: 260px;
      text-align: center;
    font-size: 9px;
      &__img1{
        display: block;
        width: 180px;
        height: 240px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 180px;
        height: 240px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 180px;
        height: 240px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 180px;
        height: 240px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 180px;
        height: 240px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 180px;
        height: 240px;
        background-size: cover;
      }
    }
  }
}

@media only screen and (max-width:1000px) {
  .slide{
    display: block;
    height: 430px;
    .text{
      display: block;
      width: 220px;
      height: 240px;
      text-align: center;
    font-size: 9px;
      &__img1{
        display: block;
        width: 170px;
        height: 220px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 170px;
        height: 220px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 170px;
        height: 220px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 170px;
        height: 220px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 170px;
        height: 220px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 170px;
        height: 220px;
        background-size: cover;
      }
    }
  }
}


@media only screen and (max-width:970px) {
  .slide{
    display: block;
    height: 420px;
    .text{
      display: block;
      width: 210px;
      height: 220px;
      text-align: center;
    font-size: 9px;
    #star{
      font-size: 10px;
    }
      &__img1{
        display: block;
        width: 160px;
        height: 200px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 160px;
        height: 200px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 160px;
        height: 200px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 160px;
        height: 200px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 160px;
        height: 200px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 160px;
        height: 200px;
        background-size: cover;
      }
    }
  }
}

@media only screen and (max-width:915px) {
  .slide{
    display: block;
    height: 400px;
    .text{
      display: block;
      width: 200px;
      height: 210px;
      text-align: center;
    font-size: 9px;
    #star{
      font-size: 10px;
    }
      &__img1{
        display: block;
        width: 140px;
        height: 180px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 140px;
        height: 180px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 140px;
        height: 180px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 140px;
        height: 180px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 140px;
        height: 180px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 140px;
        height: 180px;
        background-size: cover;
      }
    }
  }
}



@media only screen and (max-width:800px) {
  .slide{
    display: block;
    height: 360px;
    .text{
      display: block;
      width: 180px;
      height: 190px;
      text-align: center;
    font-size: 8px;
    #star{
      font-size: 10px;
    }
      &__img1{
        display: block;
        width: 120px;
        height: 160px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 120px;
        height: 160px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 120px;
        height: 160px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 120px;
        height: 160px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 120px;
        height: 160px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 120px;
        height: 160px;
        background-size: cover;
      }
    }
  }
}


@media only screen and (max-width:700px) {
  .slide{
    display: block;
    height: 340px;
    .text{
      display: block;
      width: 170px;
      height: 180px;
      text-align: center;
    font-size: 7px;
    #star{
      font-size: 10px;
    }
      &__img1{
        display: block;
        width: 100px;
        height: 140px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 100px;
        height: 140px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 100px;
        height: 140px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 100px;
        height: 140px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 100px;
        height: 140px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 100px;
        height: 140px;
        background-size: cover;
      }
    }
  }
}


@media only screen and (max-width:590px) {
  .slide{
    display: block;
    height: 330px;
    .text{
      display: block;
      width: 160px;
      height: 170px;
      text-align: center;
    font-size: 7px;
    #star{
      font-size: 6px;
    }
      &__img1{
        display: block;
        width: 90px;
        height: 120px;
        background-size: cover;
      }
      &__img2{
        display: block;
        width: 90px;
        height: 120px;
        background-size: cover;
      }
      &__img3{
        display: block;
        width: 90px;
        height: 120px;
        background-size: cover;
      }
      &__img4{
        display: block;
        width: 90px;
        height: 120px;
        background-size: cover;
      }
      &__img5{
        display: block;
        width: 90px;
        height: 120px;
        background-size: cover;
      }
      &__img6{
        display: block;
        width: 90px;
        height: 120px;
        background-size: cover;
      }
    }
  }
}
