.common{
    padding: 185px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    &__card{
        padding: 20px;
        width: 240px;
       display: flex;
       flex-direction: column;
       justify-content: center;
        border: 1px solid white;
        border-radius: 10px;
        &__img{
            img{
                width: 170px;
                height: 200px;
            }
        }
      
        .div{
            display: flex;
         
            .old{
           
            margin: auto;
color: rgb(244, 202, 16); 
margin-right: 10px;


        }
        #language{

            color: rgb(244, 202, 16);        

        }
        }
        #ticket{
            width: 100px;
            height: 35px;
            margin-top: 20px;
            margin: auto;
            margin-top: 10px;
            background: linear-gradient( 45deg,red,blue);
          border: none;
          border-radius: 5px;
          color: black;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
        }
    }
     
}