.common{
    padding: 185px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    &__card{
        padding: 20px;
        width: 320px;
       display: flex;
       flex-direction: column;
       justify-content: center;
        background-color: #515ef326;
        border-radius: 10px;
        h3{
            font-size: 21px;
            margin-top: 10px;
            color: #ffc300;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
        &__img{
            img{
                width: 170px;
                height: 200px;
            }
        }
      
        .div{
            display: flex;
         
            .old{
           
            margin: auto;
color: rgb(244, 202, 16); 
margin-right: 10px;


        }
        #language{

            color: rgb(244, 202, 16);        

        }
        }
        #ticket{
            width: 120px;
            height: 45px;
            margin-top: 20px;
            margin: auto;
            margin-top: 10px;
background-color: blue;        
  border: none;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          color: white;
        }
        #ticket:hover{
            background-color: rgba(0, 0, 255, 0.276);
        }
    }
     
}

#put{
    padding: 7px;
    border: 2px solid blue;
    background-color: transparent;
    border-radius: 10px;
    color: white;
}

.section{
   
    width: 90%;
   margin: auto;
   margin-top: 30px;
   color: white;
   &__button{
    padding: 40px 40px;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 70px;
&__button{
  display: flex;
  flex-wrap: wrap;
}
button{
    width: 140px;
    height: 30px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
button:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}
   }

  .header_class{
  
    &_label{
       
        border-radius: 7px;
        background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    #opti{
        
        border-radius: 7px;
background-color: black; 
   color: white;
    border: 1px solid white;
    font-size: 20px;
    }
    }
  }
}


  
  .language-select select {
    width: 200px;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    color: #ccc;
    padding: 10px;
  }
  
  .language-select select option {
    padding: 4px;
    background-color: transparent;
    color: #ccc;
    padding: 10px;
  }

/* Card.scss */

.ticket-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px) ; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.ticket-modal {
  background-color: #211f1f;
  padding: 40px;
  width: 400px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  h2{
    color: white;
  }
  select{
    width: 230px;
    margin: auto;
    height: 45px;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    option{
      width: 230px;
      margin: auto;
      height: 45px;
  background-color: #211f1f;
      color: rgb(255, 255, 255);
      padding: 10px;
      font-size: 20px;
      font-weight: 500;
    }
  }
  
}
h2{
  color: black;
}
.ticket-modal h2 {
  margin-top: 0;
}

.ticket-modal p {
  margin-bottom: 10px;
}

.ticket-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#slll{
  width: 230px;
  margin: auto;
     background-color: transparent;
    color: white;
    padding: 10px;
    option{
         background-color: transparent;
    color: rgb(0, 0, 0);
    }
}
.ticket-modal label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ticket-modal input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 230px;
  margin: auto;
     background-color: transparent;
    color: white;
}

.ticket-modal button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ticket-modal button[type="submit"] {
  margin-top: 20px;
}


.payment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.payment-modal {
  width: 40%;
  height: auto;
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.payment-modal h2 {
  margin-top: 0;
  color: white;
}

.payment-modal p {
  margin-bottom: 10px;
  color: white;

}

.payment-modal form {
  margin-bottom: 20px;
  color: white;
  margin: auto;

}
.payment-modal form label {
  color: white;

}
.payment-modal label {
  display: block;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;

}

.payment-modal input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  background-color:transparent;
  color: rgb(255, 254, 254);
  padding: 10px;
}


.payment-modal button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 
}
.payment-modal form input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: rgb(255, 255, 255);

}
.payment-modal button[type="submit"]:hover {
  background-color: #0069d9;
  color: white;
  font-size: 20px;
}  


.payment-modal button:not([type="submit"]):hover {
  background-color: #0069d9;
  color: white;
  font-size: 20px;
}



.seat-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
}

.seat-modal {
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;

}

.seat-modal h2 {
  margin-top: 0;
  color: white;

}

.seat-modal p {
  margin-bottom: 10px;
  color: white;

}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #222;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.seat.selected {
  background-color: #007bff;
  border-color: #007bff;
}

.seat:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}
.seat__button{
    padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.seat__button[type="submit"] {
  margin-top: 20px;
}

.language-select select{
  background-color:rgb(30, 30, 30);
}
.language-select select option{
color: rgb(255, 255, 255);
}


.section__button button{
  background-color: #0069d9;
}

Link{
  list-style: none;
  text-decoration: none;
}